<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <%= link_to "Connect to Github", github_login_path, class: "btn btn-primary mb1 bg-teal" %>
  <%= button_to "Send an Invite", new_invite_path, class: "btn btn-primary mb1 bg-teal", method: :get %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
    <% if current_user.activated %>
      <li>Status: Active</li>
    <% else %>
      <li>This account has not yet be activated. Please check your email</li>
    <% end %>
  </ul>
    <% if @bookmarks %>
    <section class="bookmarks">
      <h1>Bookmarked Segments</h1>
      <% @bookmarks.reduce(nil) do |past_tut_id, b| %>
        <% unless b.tut_id == past_tut_id %>
          <div class="bookmark">
            <div class="tutorial-dash" id="tutorial-<%= b.tut_id %>">
              <h3><%= b.tut_title %></h3>
              <p><%= b.tut_desc %></p>
            </div>
          </div>
          <% past_tut_id = b.tut_id %>
        <% end %>
        <div class="bookmark">
          <div class="tutorial-video" id="video-<%= b.id %>">
            <p>Segment: <%= link_to b.title, tutorial_path(b.tut_id, video_id: b.id) %></p>
          </div>
        </div>
        <% past_tut_id %>
      <% end %>
    </section>
    <% end %>
  <% if current_user.github_key %>
    <section class="github">
      <h1>Github</h1>
      <div class="repositories">
        <h2>Your Repositories</h2>
        <% @repos.each do |r| %>
          <div class="repository">
            <%= link_to(r.name, r.html_url) %>
          </div>
        <% end %>
        <% if @followers %>
        <table>
          <tr>
            <th></th>
            <th></th>
          </tr>
          <div class="followers">
            <h2>Your Followers</h2>
            <% @followers.each do |f| %>
            <tr>
              <div class="github-user">
                <td><%= link_to(f.login, f.html_url) %></td>
              </div>
                <td><% if @facade.already_friends?(f.login) %>
                  You are friends!
                <% elsif @facade.user_in_system?(f.login) %>
                  <%= button_to 'Add Friend', "/users/#{current_user.id}/add_friend/#{f.login}", class: "smbtn btn-primary mb1 bg-teal", method: :post  %>
                <% else %>
                <% end %>
              </td>
            </tr>
            <% end %>
          </div>
        <% end %>
        <% if @following %>
        <table>
          <tr>
            <th></th>
            <th></th>
          </tr>
          <div class="following">
            <h2>Who You Follow</h2>
            <% @following.each do |u| %>
            <tr>
              <div class="github-user">
                <td><%= link_to(u.login, u.html_url) %></td>
              </div>
                <td><% if @facade.already_friends?(u.login) %>
                  You are friends!
                <% elsif @facade.user_in_system?(u.login) %>
                  <%= button_to 'Add Friend', "/users/#{current_user.id}/add_friend/#{u.login}", class: "smbtn btn-primary bg-teal", method: :post %>
                <% else %>
                <% end %>
                </td>
            </tr>
            <% end %>
          </div>
        </table>

        <% end %>
      </div>
    </section>
  <% end %>
</section>
